body{
	font:15px/1.5 Arial,Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background: red;
}

/*SAMPLE 1*/

#sample-1{
	background-color: #000;
	width: 80%;
	margin: auto;
	margin-top: 20px;
	display: flex;
}

#sample-1 .main-col{
	flex: 1;
	order: 2;
}

#sample-1 .sidebar-1{
	flex: 1;
	order: 1;
}

#sample-1 .sidebar-2{
	flex: 1;
	order: 3;
}


/*SAMPLE 2*/

#sample-2{
	width: 80%;
	margin: auto;
	margin-top: 20px;
}


#sample-2 div{
	flex-basis: 30%;
	padding: 10px;
	box-sizing: border-box;
}


#sample-2 div:nth-child(1){
	background: red;
}

#sample-2 div:nth-child(2){
	background: blue;
}

#sample-2 div:nth-child(3){
	background: green;
}


/*sample 3*/

#sample-3{
	width: 80%;
	margin: auto;
	margin-top: 20px;
	background: #fff;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 20px 0;
}

#sample-3 .box{
	background: red;
	color: #fff;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	height: 100px;
	width: 150px;
	font-size: 1.2em;
}


/*sample 4*/

#sample-4{
	height: 400px;
	max-width: 700px;
	margin: 40px auto 40px auto;
	background: white;
	display: flex;
}

#sample-4 h1{
	margin: auto;
}

/*sample 5*/

#sample-5{
	max-width: 700px;
	margin: 40px auto 40px auto;
	display: flex;
}

#sample-5 .first{
	height: 100%;
	background: white;
	padding: 10px;
	box-sizing: border-box;
	flex:1;
}

#sample-5 .second{
	flex: 1;
	display: flex;
	flex-direction: column;
}

#sample-5 .second .second-a{
	background: red;
	flex: 1;
}

#sample-5 .second .second-b{
	background: blue;
	flex: 1;
}



/*RESPONSIVE FLEX*/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 990px) {
	#sample-2{
		display: flex;
		justify-content: space-between;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
